---
title: "Profactor"
---

{% extends 'layouts/base.html' %}

{%- from "components/TitleGroup/macro.njk" import TitleGroup -%}

{% block content %}

<!-- HERO SECTION -->
<section class="hero" style="background-image: url({{ '/img/hero-image.png' | url }})">
  <div class="titles">
    <h1 class="title">SERVICIOS FINANCIEROS</h1>
    <a class="hero-link outline-button" href="{{ '/factoring' | url}}">HAZ FACTORING CON NOSOTROS</a>
    <hr>
  </div>
</section>

<!-- ABOUT SECTIONS -->
<div class="about-container dark-section">
  <section id="about" class="about-who">

    <div class="column">
      {{
        TitleGroup({
          subtitle: 'SOBRE NOSOTROS',
          title: '¿Quiénes somos?',
          titlesGap: '0.8rem',
          subtitleColor: 'var(--accent)',
          titleColor: 'white'

        })
      }}

      <div class="paragraphs">
        <p class="paragraph">Somos una compañia de servicios financieros con domicilio en la ciudad de Cali,
          especializada
          en la intermediación de compra y venta de cartera a través del mecanismo financiero de factoring.</p>
        <p class="paragraph">Nuestro principal objetivo es diseñar y desarrolar portfolios de inversión a la medida de
          las
          expectativas de cada inversionista, dentro del marco de la ley de 1231 (ley de factoring) permitido por las
          leyes Colombianas, teniendo en cuenta la experiencia, el conocimiento y la dedicación de nuestro equipo de
          profesionales que busca satisfacer sus necesidades de inversión en cuanto a plazos, nivel de riesgo,
          rentabilidad e incremento de su patrimonio.</p>
      </div>
    </div>

    <img class="about-who__image" src="{{ '/img/about-who.png' | url }}" alt="whoweare">
  </section>

  <section class="about-us">
    {{
        TitleGroup({
          subtitle: 'SOBRE NOSOTROS',
          title: '¿Nuestro equipo?',
          justifySelf:'center',
          textAlign: 'center',
          titlesGap: '0.8rem',
          subtitleColor: 'var(--accent)',
          titleColor: 'white'
        })
      }}

    <div class="card-group">
      <div class="team-card">
        <h2 class="team-card__title">
          Asesoría Jurídica
        </h2>
        <h1 class="team-card__name">
          SUAREZ ABOGADOS
        </h1>
        <p class="team-card__description">
          Firma especializada en legislación financiera y comercial.
        </p>
      </div>
      <div class="team-card">
        <h2 class="team-card__title">
          Análisis Financiero
        </h2>
        <h1 class="team-card__name">
          Grupo contable S.A.
        </h1>
        <p class="team-card__description">
          Compañía especializada en asesoria de empresas, en las áreas contable, financiera y físcal.
        </p>
      </div>
    </div>

    <div class="about-us__image">
    </div>
  </section>

</div>

<!--OUR PROJECTS -->
<div class="our-projects-container">
  <section class="our-projects" id="products">
    {{
      TitleGroup({
        subtitle: 'NUESTROS PROYECTOS',
        title: 'Productos y servicios',
        justifySelf:'center',
        textAlign: 'center',
        titlesGap: '0.8rem',
        subtitleColor: 'var(--accent)',
        titleColor: 'black' })
    }}

    <div class="our-projects__card" style="background-image: url('{{'/img/projects-factoring.png' |  url}}');">

      <!-- <div class="our-projects__card--image"> -->
      <!--   <img src="/img/projects-factoring.png"> -->
      <!-- </div> -->

      <div class="our-projects__card-content">
        <div class="our-projects__card-content--titles">
          <h2>01</h2>
          <h1>Factoring</h1>
        </div>
        <p class="our-projects__card-content--text">
          Durante 13 años de existencia hemos consolidado
          una estrategia comercial que viene mostrando
          importantes resultados en la Compra de
          títulos valores al descuento, los cuales se han
          afianzado gracias a la entrada en vigencia
          de la Ley 1231 de 2008, reglamentación que ha
          permitido posicionar el factoring como
          un excelente producto financiero.
        </p>
      </div>
    </div>

    <div class="our-projects__card" style="background-image: url('{{ '/img/projects-banca.png' | url }}');">
      <div class="our-projects__card-content">
        <div class="our-projects__card-content--titles">
          <h2>02</h2>
          <h1>Banca de inversión</h1>
        </div>
        <p class="our-projects__card-content--text">
          Búsqueda de potenciales proyectos de negocio y de los socios
          capitalistas que permitan materializarlos. Para esto PROFACTORO S.A.S
          en unión con un selecto grupo de asesores logran intermediar
          entre proponentes e inversionistas, explorando las posibilidades
          de cada uno y así generar una sinergia en la relación comercial naciente.
        </p>
      </div>
    </div>

  </section>
</div>

<!-- SERVICES -->
<div class="services-container dark-section">
  <section class="services">
    {{
      TitleGroup({
        subtitle: 'SERVICIOS',
        title: 'Control de Lavado de Activos',
        justifySelf:'center',
        textAlign: 'center',
        titlesGap: '0.8rem',
        subtitleColor: 'var(--accent)',
        titleColor: 'white' })
    }}

    <div class="services-card" style="background-image: url('{{ site.services[0] | url }}')">
      <div class="services-card__content">
        <!-- <h2 class="services-card__title">Control de Activos</h2> -->
        <div class="services-card__paragraph-wrapper">
          <hr class="services-divider__horizontal">
          <p class="services-card__paragraph">
            En PROFACTOR S.A.S cumplimos de una forma estricta el
            proceso de sarlaft para filtrar personas jurídicas y
            naturales, minimizando el riesgo legal, operativo,
            de contagio y reputacional.
          </p>
        </div>
        <!-- <div class="servicer-divider__vertical"> -->
        <!-- </div> -->
        <div class="services-card__paragraph-wrapper">
          <hr class="services-divider__horizontal">
          <p class="services-card__paragraph">
            Dicho procedimiento (sarlaft) fue implementado por el
            Dr. Milton Fabián Villegas exfuncionario
            de cumplimiento en el banco de occidente.
          </p>
        </div>
      </div>
    </div>
    <div class="services-card--2" style="background-image: url('{{ site.services[1] | url }}')">
      <div class="services-card--2__content">
        <!-- <h2 class="services-card__title">Control de Activos</h2> -->
        <div class="services-card__paragraph-wrapper">
          {{
            TitleGroup({
              subtitle: 'SERVICIOS',
              title: 'Selección de clientes emisores',
              titlesGap: '0.8rem',
              subtitleColor: 'var(--accent)',
              titleColor: 'white' })
          }}
        </div>
        <!-- <div class="servicer-divider__vertical"> -->
        <!-- </div> -->
        <div class="services-card__paragraph-wrapper">
          <p class="services-card__paragraph">
            Nuestra labor comercial inicia en la fuerte
            relación que entablamos con el pagador que
            en algunas ocasiones en aras de beneficiar
            a sus proveedores lo direcciona a nosotros.
          </p>
        </div>
      </div>
    </div>

    <div class="facts">
      <div class="facts-cipher__content">
        <h2 class="facts-cipher__title">
          Constituidos desde
        </h2>
        <h1 class="facts-cipher__number">
          2000
        </h1>
      </div>
      <div class="facts-cipher__content">
        <h2 class="facts-cipher__title">
          Número de pagadores
        </h2>
        <h1 class="facts-cipher__number">
          900
        </h1>
      </div>
      <div class="facts-cipher__content">
        <h2 class="facts-cipher__title">
          Número de facturas
          y millones colocados
        </h2>
        <h1 class="facts-cipher__number">
          19M COP
        </h1>
      </div>
    </div>
    <a href="{{ '/factoring' | url }}" class="outline-button factoring-button">
      HAZ FACTORING CON NOSOTROS
    </a>
  </section>
</div>

<div class="partners-container">

  <section class="partners">
    {{
      TitleGroup({
        subtitle: 'NUESTROS PAGADORES',
        title: 'Algunos pagadores',
        justifySelf:'center',
        textAlign: 'center',
        titlesGap: '0.8rem',
        subtitleColor: 'var(--accent)',
        titleColor: 'var(--primary)' })
    }}

    <div class="partners-slider">
      <section class="splide" aria-label="Splide Basic HTML Example">
        <div class="splide__track">
          <ul class="splide__list">

            {% for image in site.partners %}
            <li class="splide__slide">
              <img class="splide__slide-image" src="{{ image | url }}" />
            </li>
            {% endfor %}
        </div>
        </ul>
    </div>
  </section>
</div>




</div>

<a href="#header" class="go-up-button">
  <!--up arrow character svg-->
  <svg width="40px" class="go-up-button__icon" viewBox="0 0 24 24">
    <path fill="currentColor" d="M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z" />
  </svg>
</a>

{% endblock content %}