// MIXINS
@mixin backgroundImageNoRepeat {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin sectionSize {
  max-width: var(--main-size);
  width: 100%;
}

// BASE
html {
  all: unset;
  width: 100vw;
  overflow-x: hidden;
  height: -webkit-fill-available;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  height: inherit;
  font-family: var(--font-family);
  overflow-x: hidden;
  /* color: var(--color-primary); */
}

.main-content {
  display: grid;
}

.home {
  display: grid;
  /* grid-template-rows: 1fr auto; */
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.dark-section {
  background: var(--primary)
}

.light-section {
  background: white;
}

.outline-button {
  border: 1px solid white;
  border-radius: 5px;
  padding: 1rem;
  color: white;
  width: fit-content;
}

.root {
  display: grid;
  width: 100vw;
  grid-template-rows: 130px 1fr auto;
}


// navbar
header {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;

  .navbar {
    @include sectionSize();
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 130px;

    .navbar__actions {
      display: inherit;
      grid-auto-flow: column;
      align-items: center;
      justify-items: center;
      color: white;
      padding-right: 2rem;

      .navbar__actions-link {
        color: white;
        font-size: 0.9rem;
        font-weight: bold;
        letter-spacing: 0.02em;
      }
    }
  }
}

// HERO
.hero {
  // background-image
  @include backgroundImageNoRepeat();
  display: grid;
  justify-items: center;
  align-items: end;
  padding: 2rem;
  color: white;
  height: calc(100vh - var(--navbar-size));

  .titles {
    @include sectionSize();
    display: inherit;
    gap: 3.75rem;

    .title {
      font-size: 3.75rem;
      width: 500px;
      line-height: 4rem;
      letter-spacing: 0.14em;
    }

    .hero-link {
      font-weight: bold;
      font-size: 1.5rem;
      letter-spacing: 0.15em;
    }

    hr {
      border-width: 4px;
      border-style: solid;
      border-radius: 3rem;
      background: white;
    }
  }
}

//ABOUT

.about-container {
  display: grid;
  justify-items: center;
  color: white;

  .about-who {
    @include sectionSize();
    // height: 80vh;
    padding: 6rem 2rem;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);

    .column {
      display: grid;
      gap: 2rem;
    }

    .paragraphs {
      display: grid;
      gap: 1rem;
    }

    .paragraph {
      font-size: 1.25rem;
      line-height: 1.6rem;
    }

    &__image {
      position: relative;
      top: 10px;
      align-self: center;
      justify-self: center;
    }
  }

  .about-us {
    position: relative;

    &__image {
      position: absolute;
      background-image: url('/img/about-us-full.png');
      background-repeat: no-repeat;
      background-position: center;
      top: 293px;
      border-radius: 1rem;
      height: 375px;
      width: 100%;
      z-index: 1;

    }

    @include sectionSize();
    padding: 6rem 2rem;
    display: grid;
    align-items: center;

    .card-group {
      position: relative;
      z-index: 2;
      display: grid;
      gap: 2.125rem;
      justify-items: center;
      padding: 3.25rem;

      .team-card {
        display: grid;
        width: fit-content;
        background: white;
        border-radius: 0.938rem;
        color: black;
        padding: 1.313rem 1.875rem;
        font-size: 1.25rem;

        &__title {
          color: var(--secondary);
          padding-bottom: 1rem;
          font-size: inherit;
        }

        &__name {
          font-size: inherit;
        }

        &__description {
          width: 350px;
        }
      }
    }
  }
}

// PROJECTS

.our-projects-container {
  display: grid;
  justify-items: center;

  .our-projects {
    display: grid;
    @include sectionSize();
    padding: 3rem 2rem;
    justify-items: center;
    gap: 2rem;

    &__card {
      display: grid;
      @include backgroundImageNoRepeat();

      height: 514px;
      width: 80%;
      border-radius: 0.938rem;
      padding: 2.25rem;

      &-content {
        align-self: end;
        color: white;

        &--titles {
          font-size: 1.875rem;

          h2 {
            color: rgba(255, 255, 255, 0.5);
          }

          padding-bottom: 1rem;
        }

        &--text {
          font-size: 1.25rem;
        }
      }
    }
  }
}

// SERVICES

.services-container {
  display: grid;
  justify-items: center;

  .services {
    display: grid;
    @include sectionSize();
    padding: 8rem 2rem;
    gap: 4.188rem;

    &-divider__horizontal {
      width: 200px;
      background: white;
      height: 2px;
    }

    &-card {
      background-image: url('/img/services-control-de-activos.png');
      @include backgroundImageNoRepeat();
      display: grid;
      height: 751px;
      width: 100%;
      border-radius: 0.938rem;
      padding: 2.25rem;
      justify-self: center;
      justify-items: center;
      align-items: center;
      color: white;
      font-size: 1.25rem;

      &__content {
        display: grid;
        align-self: end;
        grid-template-columns: repeat(2, 1fr);
        gap: 6.25rem;
        color: white;
        font-size: 1.25rem;

        .services-card__paragraph-wrapper {
          display: grid;
          gap: 1rem;
        }
      }
    }

    &-card--2 {
      h1.title {
        width: 95%;
      }

      background-image: url('/img/services-clientes-emisores.png');
      @include backgroundImageNoRepeat();
      display: grid;
      height: 751px;
      width: 100%;
      border-radius: 0.938rem;
      padding: 2.25rem;
      justify-self: center;
      justify-items: center;
      align-items: center;
      color: white;
      font-size: 1.25rem;

      &__content {
        display: grid;
        align-self: end;
        grid-template-columns: repeat(2, 1fr);
        gap: 6.25rem;
        color: white;
        font-size: 1.25rem;

        .services-card__paragraph-wrapper {
          display: grid;
          gap: 1rem;
          align-items: end;
        }
      }
    }
  }

  .facts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: white;

    &-cipher__content {
      display: inherit;
      gap: 0.5rem;
      align-items: center;
    }

    &-cipher__title {
      font-size: 2rem;
    }

    &-cipher__number {
      font-size: 5.625rem;
      color: var(--accent);
    }
  }
}

// PARTNERS
.partners-container {
  display: grid;
  justify-items: center;

  .partners {
    padding: 3rem 2rem;
    display: inherit;
    width: 100%;
    @include sectionSize();

    &-slider {
      height: 500px;
      display: grid;
      justify-content: center;

      &>* {
        height: 100%;
      }

      .splide {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        justify-content: center;
      }

      .splide__slide {
        display: grid;
        align-items: center;
        justify-items: center;

        &-image {
          width: 70%;
          height: auto;
          align-self: center;
          @include backgroundImageNoRepeat();
          background-size: contain;
        }
      }
    }
  }
}