<div class="titles" style="display: grid; gap:{{params.titlesGap}}; justify-self:{{params.justifySelf}};">
  <h3 style="color: {{params.subtitleColor}}; font-weight: bold; text-align:{{params.textAlign}};" class="subtitle">{{ params.subtitle}}</h3>
  <h1 style="color: {{params.titleColor}}; font-weight: bold;" class="title">{{ params.title }}</h1>
</div>
