<div class="titles" styles="display: grid; gap:{{params.titlesGap}} justify-items:{{params.justifyItems}};">
  <h3 styles="color: var(--accent); font-weight: bold; font-size: 1.25rem;" class="subtitle">{{ params.subtitle}}</h3>
  <h1 styles="color: var(--accent); font-weight: bold; font-size: 1.25rem;" class="title">{{ params.title }}</h1>
</div>