<div class="footer-container">
  <div class="footer-content-left">
    <ul class="footer-info">
      <li>
        <img src="{{ '/img/email-icon.svg' | url }}" alt="email">
        contacto@profactor.com
      </li>
      <li>
        <img src="{{ '/img/phone-icon.svg' | url }}" alt="phone">
        +57 322 678 6790
      </li>
      <li>
        <img src="{{ '/img/address-icon.svg' | url }}" alt="location">
        Calle 12
      </li>
  </div>
  <div class="footer-content-right">
    <a href="{{ '/factoring' | url }}" class="outline-button">
      HAZ FACTORING CON NOSOTROS
    </a>
  </div>
</div>