<div class="footer-container">
  <div class="footer-content-left">
    <ul class="footer-info">
      <li>
        <img src="/img/email-icon.svg" alt="email">
        contacto@profactor.com
      </li>
      <li>
        <img src="/img/phone-icon.svg" alt="phone">
        +57 322 678 6790
      </li>
      <li>
        <img src="/img/address-icon.svg" alt="address">
        Calle 12
      </li>
  </div>
  <div class="footer-content-right">
    <a href="/factoring" class="outline-button">
      HAZ FACTORING CON NOSOTROS
    </a>
  </div>
</div>