{%- from "components/TitleGroup/macro.njk" import TitleGroup -%}

<div class="graph-container dark-section">
  <section class="graph-section">
    {{
      TitleGroup({
        subtitle: 'DIAGRAMAS',
        title: 'Diagrama de Flujo Proceso de Factoring',
        titlesGap: '0.8rem',
        subtitleColor: 'var(--accent)',
        textAlign: 'center',
        titleColor: 'white'
      })
    }}

    <div class="graph-wrapper">
      <img src="{{ '/img/flow-chart.svg' | url }}" alt="">
    </div>

  </section>
</div>