<nav class="navbar">
  <span class="navbar__brand">
    <a href="{{ '/' | url }}" class="navbar__link">
      <img src="{{ '/img/profactor-logo.svg' | url }}" alt="logo">
    </a>
    <div class="navbar___brand-titles">
      <h1 class="navbar__brand-title">{{site.brandName}}</h1>
    </div>
  </span>
  <span class="navbar__actions">
    {% for item in site.navbarLinks %}
    <a class="navbar__actions-link" href="{{ '/'~item.link | url }}">
      <li>{{ item.name }}</li>
    </a>
    {% endfor %}
    <a href="{{ '/factoring' | url }}" class="navbar__actions-link outline-button">
      <li>HAZ FACTORING CON NOSOTROS</li>
    </a>
  </span>
</nav>


<nav class="navbar-mobile">
  <div class="navbar-mobile-menu">
    <img src="{{ '/img/icon-menu.svg' | url }}" alt="menu">
  </div>
  <span class="navbar-brand">
    <a href="{{ '/' | url }}" class="navbar-link">
      <img src="{{ '/img/profactor-logo.svg' | url }}" alt="logo">
    </a>
  </span>
</nav>